<form method="post" action="{{ path('robot_humain_delete', {'id': robot_humain.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ robot_humain.id) }}">
    <button class="btn">Delete</button>
</form>
