body {
    background-color: lightgray;
}

header, footer {
	width: 100%;	
	border: 1px solid black;
}

#boxmiddle { display: flex; justify-content: space-around; flex-direction: row-reverse; }

@import "~bootstrap/scss/bootstrap";
