body {
    background-color: lightgray;
}

header, footer {
	width: 100%;	
}

header { text-align: center; border-bottom: 1px solid black; }
footer { text-align: right; border-top: 1px solid black; }

#boxmiddle { display: flex; justify-content: space-around; flex-direction: row-reverse; }
#page { display: block; }

@import "~bootstrap/scss/bootstrap";
