{% extends 'base.html.twig' %}

{% block body %}

	{% include 'header.html.twig' %}
	
	<div id="boxmiddle">	
	{% include 'menu.html.twig' %}

   	{% block content %} {% endblock content %}
	</div>

	{% include 'footer.html.twig' %}


{% endblock body %}
