{% extends 'base.html.twig' %}

{% block body %}

	{% include 'header.html.twig' %}
	
	<div id="boxmiddle">	
	{% include 'menu.html.twig' %}

	<div id="page">{% block content %} {% endblock content %}</div>
	</div>

	{% include 'footer.html.twig' %}


{% endblock body %}
