<ul>
	<li><a href="{{ path('totoHomepage') }}">/home</a></li>
	<li><a href="{{ path('luckyNumberMax') }}">feeling lucky, punk ?</a></li>
	<li><a href="{{ path('uselessEntityIndex') }}">very important stuffs</a></li>
</ul>
